@font-face {
    font-family: "f13";
    src: url("/styles/F13.ttf") format("truetype");
}

@font-face {
    font-family: "DF";
    src: url("/styles/DF.ttf") format("truetype");
}

@font-face {
    font-family: "sbitn";
    src: url("/styles/SBITN.ttf") format("truetype");
}


@font-face {
    font-family: "fofbb";
    src: url("/styles/FOFBB.ttf") format("truetype");
}

@font-face {
    font-family: "TBL";
    src: url("/styles/TBL.ttf") format("truetype");
}

@font-face {
    font-family: "TBL_1";
    src: url("/styles/TBL_1.TTF") format("truetype");
}

@font-face {
    font-family: "ss";
    src: url("/styles/SS.ttf") format("truetype");
}

body {
    background-color: rgba(0, 0, 0, 1);
    color: rgba(225, 0, 0, .97);
    .fofbb {font-family: "fofbb";}
}

p{font-size: 1.62em;}

.fofbb{font-family: "fofbb";}
.ss {font-family: "ss";}
.f13 {font-family: "f13";}
.df {font-family: "DF";}
.bawdycaste {font-family: "f13";}
.sbitn {font-family: "sbitn";}
.TBL {font-family: "TBL";z-index: 2;}
.TBL_1 {font-family: "TBL_1";z-index: 2;}

.social a {
    font-size: 2em;
    margin: auto 6%;
    color: white;
    text-decoration: none;
}

.text-black {
    color: black;
}