@font-face {
    font-family: "f13";
    src: url("https://bawdycaste.com/styles/F13.ttf") format("truetype");
}

@font-face {
    font-family: "DF";
    src: url("/styles/DF.ttf") format("truetype");
}

@font-face {
    font-family: "sbitn";
    src: url("https://bawdycaste.com/styles/SBITN.ttf") format("truetype");
}

@font-face {
    font-family: "ss";
    src: url("https://bawdycaste.com/styles/SS.ttf") format("truetype");
}

@font-face {
    font-family: "fofbb";
    src: url("https://bawdycaste.com/styles/FOFBB.ttf") format("truetype");
}

@font-face {
    font-family: TBL;
    src: url("/styles/TBL.ttf") format("truetype");
}

@font-face {
    font-family: TBL_1;
    src: url(/styles/TBL_1.TTF) format("truetype");
}

body {
    background-color: black;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-size: contain;
    color: red;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* Space out content a bit */

body {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

img.absolute_1 {
    position: absolute;
    top: 20rem;
    right: 10rem;
    z-index: 1;
}

img.absolute_2 {
    position: absolute;
    top: 15rem;
    right: 3rem;
    z-index: 1;
}

img.absolute_3 {
    position: absolute;
    top: 10rem;
    right: 23rem;
    z-index: 1;
}

img.absolute_4 {
    position: absolute;
    top: 14rem;
    right: 27em;
    z-index: 2;
}

img.absolute_5 {
    position: absolute;
    top: 8rem;
    right: 1rem;
    z-index: 1;
}

img.absolute_6 {
    position: absolute;
    right: 5rem;
    z-index: 1;
}

img.absolute_7 {
    position: absolute;
    top: 5rem;
    right: 20rem;
    z-index: 1;
    animation-delay: 500ms;
    animation-direction: alternate-reverse;
}


/* Everything but the jumbotron gets side spacing for mobile first views */

.header,
.marketing,
.footer {
    padding-right: 1rem;
    padding-left: 1rem;
}


/* Custom page header */

.header {
    padding-bottom: 1rem;
    border-bottom: .05rem solid #e5e5e5;
}


/* Make the masthead heading the same height as the navigation */

.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 3rem;
}


/* Custom page footer */

.footer {
    padding-top: 1.5rem;
    color: #777;
    border-top: .05rem solid #e5e5e5;
}

.footer>div>p:nth-child(2) {
    word-wrap: anywhere;
}


/* Customize container */

@media (min-width: 48em) {
    .container {
        max-width: 46rem;
    }
}

.container-narrow>hr {
    margin: 2rem 0;
}

button {
    font-family: "f13";
}


/* Main marketing message and sign up button */

.jumbotron {
    padding-top: 5%;
    text-align: center;
    border-bottom: .05rem solid #e5e5e5;
}

.jumbotron .btn {
    padding: .75rem 1.5rem;
    font-size: 1.5rem;
}


/* Supporting marketing content */

.marketing {
    margin: 3rem 0;
}

.marketing p+h4 {
    margin-top: 1.5rem;
}


/* Responsive: Portrait tablets and up */

@media screen and (min-width: 48em) {
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-right: 0;
        padding-left: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 2rem;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

.fofbb {
    font-family: "fofbb";
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "fofbb";
}

.f13 {
    font-family: "f13";
}

.bawdycaste {
    font-family: "ss";
}

.image-shadow {
    box-shadow: 10px 10px 10px #777;
}

.drop_shadow {
    text-shadow: 10px 10px 5px #888888;
}

.social a {
    font-size: 2em;
    margin: auto 4%;
    color: white;
    text-decoration: none;
}

#video-background {
    /*  making the video fullscreen  */
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
}

.carousel-item {
    height: 428px;
}

.df {
    font-family: "DF";
}

.sbitn {
    font-family: "sbitn";
}

.TBL {
    font-family: "TBL";
    z-index: 2;
}

.TBL_1 {
    font-family: "TBL_1";
    z-index: 2;
}

hr.style-eight {
    overflow: visible;
    /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}

hr.style-eight:after {
    content: "ยง";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}

hr.style-five {
    border: 0;
    height: 0;
    box-shadow: 0 0 10px 1px black;
}

hr.style-five:after {
    content: "\00a0";
}
.bo{
text-shadow: -1px 1px 0 black, 
             1px 1px 0 black, 
             1px -1px 0 black, 
            -1px -1px 0 black,
}
