@font-face {
    font-family: "f13";
    src: url("/styles/F13.ttf") format("truetype");
}

@font-face {
    font-family: "DF";
    src: url("/styles/DF.ttf") format("truetype");
}

@font-face {
    font-family: "sbitn";
    src: url("/styles/SBITN.ttf") format("truetype");
}


@font-face {
    font-family: "fofbb";
    src: url("/styles/FOFBB.ttf") format("truetype");
}

@font-face {
    font-family: "TBL";
    src: url("/styles/TBL.ttf") format("truetype");
}

@font-face {
    font-family: "TBL_1";
    src: url("/styles/TBL_1.TTF") format("truetype");
}

@font-face {
    font-family: "ss";
    src: url("/styles/SS.ttf") format("truetype");
}

body {
    background-color: black;
    color: red;
}

button {
    font-family: "f13";
}


.fofbb {
    font-family: "fofbb";
}

.ss {
    font-family: "ss";
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "fofbb";
}

.f13 {
    font-family: "f13";
}

.bawdycaste {
    font-family: "ss";
}

.image-shadow {
    box-shadow: 10px 10px 10px #777;
}

.drop_shadow {
    text-shadow: 10px 10px 5px #888888;
}

.social a {
    font-size: 2em;
    margin: auto 4%;
    color: white;
    text-decoration: none;
}

.df {
    font-family: "DF";
}

.sbitn {
    font-family: "sbitn";
}

.TBL {
    font-family: "TBL";
    z-index: 2;
}

.TBL_1 {
    font-family: "TBL_1";
    z-index: 2;
}

hr.style-eight {
    overflow: visible;
    /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}

hr.style-eight:after {
    content: "§";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}

hr.style-five {
    border: 0;
    height: 0;
    box-shadow: 0 0 10px 1px black;
}

hr.style-five:after {
    content: "\00a0";
}

.bo {
    -webkit-animation: rainbow 3s linear infinite;
}

@-webkit-keyframes rainbow {
    from {
        text-shadow:
            0.04em 0.04em #ff0000,
            0.08em 0.08em #ff7f00,
            0.12em 0.12em #ffff00,
            0.16em 0.16em #00ff00,
            0.20em 0.20em #0000ff,
            0.24em 0.24em #4b0082,
            0.28em 0.28em #8f00ff;
    }

    15% {
        text-shadow:
            0.04em 0.04em #8f00ff,
            0.08em 0.08em #ff0000,
            0.12em 0.12em #ff7f00,
            0.16em 0.16em #ffff00,
            0.20em 0.20em #00ff00,
            0.24em 0.24em #0000ff,
            0.28em 0.28em #4b0082;
    }

    30% {
        text-shadow:
            0.04em 0.04em #4b0082,
            0.08em 0.08em #8f00ff,
            0.12em 0.12em #ff0000,
            0.16em 0.16em #ff7f00,
            0.20em 0.20em #ffff00,
            0.24em 0.24em #00ff00,
            0.28em 0.28em #0000ff;
    }

    45% {
        text-shadow:
            0.04em 0.04em #0000ff,
            0.08em 0.08em #4b0082,
            0.12em 0.12em #8f00ff,
            0.16em 0.16em #ff0000,
            0.20em 0.20em #ff7f00,
            0.24em 0.24em #ffff00,
            0.28em 0.28em #00ff00;
    }

    60% {
        text-shadow:
            0.04em 0.04em #00ff00,
            0.08em 0.08em #0000ff,
            0.12em 0.12em #4b0082,
            0.16em 0.16em #8f00ff,
            0.20em 0.20em #ff0000,
            0.24em 0.24em #ff7f00,
            0.28em 0.28em #ffff00;
    }

    75% {
        text-shadow:
            0.04em 0.04em #ffff00,
            0.08em 0.08em #00ff00,
            0.12em 0.12em #0000ff,
            0.16em 0.16em #4b0082,
            0.20em 0.20em #8f00ff,
            0.24em 0.24em #ff0000,
            0.28em 0.28em #ff7f00;
    }

    90% {
        text-shadow:
            0.04em 0.04em #ff7f00,
            0.08em 0.08em #ffff00,
            0.12em 0.12em #00ff00,
            0.16em 0.16em #0000ff,
            0.20em 0.20em #4b0082,
            0.24em 0.24em #8f00ff,
            0.28em 0.28em #ff0000;
    }

    to {
        text-shadow:
            0.04em 0.04em #ff0000,
            0.08em 0.08em #ff7f00,
            0.12em 0.12em #ffff00,
            0.16em 0.16em #00ff00,
            0.20em 0.20em #0000ff,
            0.24em 0.24em #4b0082,
            0.28em 0.28em #8f00ff;
    }
}

.text-black {
    color: black;
}

.rainbow {
    text-shadow: 2px 2px 4px #000000;
    -webkit-animation: rainbow 10s infinite;
    -ms-animation: rainbow 10s infinite;
    animation: rainbow 10s infinite;
}

@keyframes rainbow {
    0% {
        color: orange;
    }

    10% {
        color: purple;
    }

    20% {
        color: red;
    }

    30% {
        color: CadetBlue;
    }

    40% {
        color: yellow;
    }

    50% {
        color: coral;
    }

    60% {
        color: green;
    }

    70% {
        color: cyan;
    }

    80% {
        color: DeepPink;
    }

    90% {
        color: DodgerBlue;
    }

    100% {
        color: orange;
    }
}

@-webkit-keyframes rainbow {
    0% {
        color: orange;
    }

    10% {
        color: purple;
    }

    20% {
        color: red;
    }

    30% {
        color: CadetBlue;
    }

    40% {
        color: yellow;
    }

    50% {
        color: coral;
    }

    60% {
        color: green;
    }

    70% {
        color: cyan;
    }

    80% {
        color: DeepPink;
    }

    90% {
        color: DodgerBlue;
    }

    100% {
        color: orange;
    }
}
.slide-rotate-hor-bottom {
	@-webkit-animation: slide-rotate-hor-bottom 6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 2s infinite alternate backwards;
	        animation: slide-rotate-hor-bottom 6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 2s infinite alternate backwards;
}

 @-webkit-keyframes slide-rotate-hor-bottom {
    0% {
      -webkit-transform: translateY(0) rotateX(0deg);
              transform: translateY(0) rotateX(0deg);
    }
    100% {
      -webkit-transform: translateY(5%) rotateX(90deg);
              transform: translateY(5%) rotateX(90deg);
    }
  }
  @keyframes slide-rotate-hor-bottom {
    0% {
      -webkit-transform: translateY(0) rotateX(0deg);
              transform: translateY(0) rotateX(0deg);
    }
    100% {
      -webkit-transform: translateY(5%) rotateX(90deg);
      transform: translateY(5%) rotateX(90deg);
    }
  }
  .slide-rotate-hor-bottom:hover{animation:disabled;}
  
p{font-size: 1.4rem;}